<%= simple_form_for [:admin,@concert] do |f| %>
  <% if @concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% @concert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :hour, 'Heure' %><br>
    <%= f.datetime_select :hour %>
  </div>
  <div class="form-group">
    <%= f.association :festival%>
    <%= f.association :artist %>
  </div>
  <div class="actions">
    <%= f.submit 'Valider', class: 'btn btn-success' %>
  </div>
<% end %>
