<p id="notice"><%= notice %></p>
<p>
  <strong>Hour:</strong>
  <%= @concert.hour %>
</p>

<p><%= will_paginate @concerts, renderer: BootstrapPagination::Rails %></p>
<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
