<h1>Affichage d'un concert</h1>

<p>Date et Heure : <%= @concert.hour %></p>
<p>Festival : <%= @concert.festival.name %></p>
<p>Artiste : <%= @concert.artist.name %></p>

<p>
  <%= link_to 'Editer', edit_admin_concert_path(@concert), class: 'btn btn-success' %>
  <%= link_to 'Retour', admin_concerts_path, class: 'btn btn-warning' %>
</p>