<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://pbs.twimg.com/media/CmMQ5FkWQAAbChF.jpg" alt="New York" width="1200" height="700">
      <div class="carousel-caption">
        <h3>Mon profil</h3>
        <p>Retrouvez ici les informations en rapport avec votre compte</p>
      </div>
    </div>
  </div>

</div>
<div class="container text-center">
  <h1>Mes informations</h1>
  <p>Nom d'utilisateur : <%= @user.username %> </p>
  <p>Courriel : <%= @user.email %></p>
  <p>Nom : <%= @user.lastName %></p>
  <p>Prénom : <%= @user.firstName %></p>
  <p>Ville : <%= @user.city %></p>
  <p>Création du compte : <%= @user.created_at %></p>

  <p>
    <%= link_to 'Modifier', edit_user_path(@user), class: 'btn btn-success' %>
    <%= link_to 'Supprimer', user_path(@user), method: :delete, data: { confirm: 'Etes-vous sûr(e) de vouloir supprimer ce concert ?' }, class: 'btn btn-danger'  %>
  </p>
</div>