<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="main">

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-1">
            <% if notice %>
                <p id="notice" class="alert alert-danger"><%= notice %></p>
            <% end %>
            <h1>Mot de passe oublié ?</h1>
              <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>

                <div class="form-inputs">
                  <div class="form-group">
                    <%= f.label :email, 'Courriel' %>
                    <%= f.text_field :email, required: true, autofocus: true, class: 'form-control' %>
                  </div>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, 'Envoyer' , class: 'btn btn-success btn btn-success'%>
                  <%= render "users/shared/links" %>
                </div>
              <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>