<p id="notice"><%= notice %></p>

<h1>Listing Festivals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @festivals.each do |festival| %>
      <tr>
        <td><%= festival.name %></td>
        <td><%= festival.place %></td>
        <td><%= festival.startDate %></td>
        <td><%= festival.endDate %></td>
        <td><%= festival.description %></td>
        <td><%= festival.picture %></td>
        <td><%= link_to 'Show', festival %></td>
        <td><%= link_to 'Edit', edit_festival_path(festival) %></td>
        <td><%= link_to 'Destroy', festival, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Festival', new_festival_path %>
