<div id="showfestival" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="festival-inner" role="listbox">
    <div class="item active">
      <img src="<%= @festival.image_url.to_s %>" class="img-circle person">
    </div>
  </div>

  <div class="container text-center">
    <h3><%= @festival.name.upcase %></h3>
    <p><%= @festival.description %></p>
    <p><a href="" target="_blank"><button class="btn">Achetez vos tickets</button></a></p>
  </div>
</div>

<div id="concerts" class="bg-1">
  <div class="container">
    <h3 class="text-center">Quels artistes seront présent ?</h3>
    <p class="text-center">Voici tous les artistes du festival.<br> Prennez vite vos billets !</p>

    <% if  @festival.concerts.any? %>
        <div class="row text-center">
          <% @festival.concerts.each do |concert| %>
              <div class="col-sm-4">
                <div class="thumbnail">
                  <img src="<%= concert.artist.image_url.to_s %>" alt="Paris" width="400" height="300">
                  <p><strong><%= concert.artist.name %></strong></p>
                  <p><%= link_to 'Information', concert.artist , class:'btn' %></p>
                </div>
              </div>
          <% end %>
        </div>
        <div class="row text-center">
          <%= will_paginate @concerts, renderer: BootstrapPagination::Rails, :params => {:anchor => '#concerts'}%>
        </div>
    <% else  %>
        <ul class="list-group">
          <li class="list-group-item">Aucun artiste</li>
        </ul>
    <% end %>
  </div>
</div>
<div class="bg-1" id="comments">
  <div class="container" >
    <h3 class="text-center">Vos avis !</h3>
    <p class="text-center">Retrouvez ici vos avis sur ce festival.<br> N'hesitez pas à commenter !</p>
    <p class="text-center" ><button class="btn" id="btnAddComment" data-id="<%= @festival.id %>">Ecrire un commentaire</button></p>
    <div id="addComment" style="display: none;" class="text-center">
      <%=  render :partial => 'comments/form' %>
    </div>
    <ul class="list-group">
      <% if  @comments.any? %>
          <% @comments.each do |comment| %>
            <li class="list-group-item">
              <%= comment.content %>
              <% if comment.opinion <= 2 %>
                <span class="label label-danger pull-right"><%= comment.opinion %></span>
              <% elsif comment.opinion >= 4%>
                <span class="label label-success pull-right"><%= comment.opinion %></span>
              <% else %>
                <span class="label label-warning pull-right"><%= comment.opinion %></span>
              <% end %>
            </li>
          <% end %>
      <% else %>
        <li class="list-group-item">Aucun commentaire pour le moment</li>
      <% end %>
    </ul>
    <div class="text-center">
      <%= will_paginate @comments, renderer: BootstrapPagination::Rails, :params => {:anchor => '#comments'}%>
    </div>
  </div>
</div>

<script>
  $('#btnAddComment').on('click', function () {
    $('#addComment').show();
    $('#btnAddComment').hide();
    $("#comment_festival_id").val($("#btnAddComment").attr('data-id'));
    $(".comment_festival").hide();
  })
</script>