<p id="notice"><%= notice %></p>

<h1>Liste des utilisateurs</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Pseudo</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Courriel</th>
      <th>Ville</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.pseudo %></td>
        <td><%= user.lastName %></td>
        <td><%= user.firstName %></td>
        <td><%= user.email %></td>
        <td><%= user.city %></td>
        <td><%= user.status %></td>
        <td><%= link_to 'Afficher', admin_user_path(user) %></td>
        <td><%= link_to 'Editer', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Effacer', user, method: :delete, data: { confirm: 'Etes-vous sûr de vouloir supprimer cette utilisateur ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau utilisateur', new_admin_user_path, class: 'btn btn-success'%>
