<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Festiveaux</title>
  <link rel="shortcut icon" href="http://www.icone-png.com/png/38/37543.png">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Festi'Veaux</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'ACCUEIL', '/' %></li>
        <li><%= link_to 'FESTIVALS', festivals_path %></li>
        <li><%= link_to 'ARTISTES', artists_path %></li>
        <li><%= link_to 'CONTACT',  contact_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'MON PROFIL', user_path(current_user)%></li>
          <li><%= link_to 'DECONNEXION', destroy_user_session_path, :method => :delete %></li>
          <% if can? :manage, Admin %>
              <li><%= link_to 'ADMINISTRATION',admin_accueil_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to 'CONNEXION', user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<h3>-</h3>
<% flash.each do |key, value| %>
    <% if key == 'notice' %>
      <div class="alert alert-success"><%= value %></div>
    <% else %>
      <div class="alert alert-danger"><%= value %></div>
    <% end %>
<% end %>
<%= yield %>

</body>
</html>
